[submodule "dots/vim/bundle/vim-pathogen"]
	path = dots/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "dots/vim/bundle/vim-powerline"]
	path = dots/vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "dots/vim/bundle/vim-rails"]
	path = dots/vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "dots/vim/bundle/nerdtree"]
	path = dots/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dots/vim/bundle/taglist.vim"]
	path = dots/vim/bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "dots/vim/bundle/vim-colors-solarized"]
	path = dots/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "dots/antigen"]
	path = dots/antigen
	url = git://github.com/zsh-users/antigen.git
[submodule "dots/powerline"]
	path = dots/powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule "dots/vim/bundle/vim-ruby"]
	path = dots/vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "dots/vim/bundle/vim-markdown"]
	path = dots/vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "dots/vim/bundle/vim-bundler"]
	path = dots/vim/bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "dots/vim/bundle/vim-rbenv"]
	path = dots/vim/bundle/vim-rbenv
	url = git@github.com:tpope/vim-rbenv.git
[submodule "dots/vim/bundle/vim-haml"]
	path = dots/vim/bundle/vim-haml
	url = git@github.com:tpope/vim-haml.git
[submodule "dots/vim/bundle/vim-commentary"]
	path = dots/vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "dots/vim/bundle/vim-surround"]
	path = dots/vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
