[submodule "dots/oh-my-zsh"]
	path = dots/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "dots/vim/bundle/vim-pathogen"]
	path = dots/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
